#date {
    font-size: 2rem;
    color: red;
}

#time {
    font-size: 2rem;
}

.btn-white {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    border-color: white;
}

.btn-white:hover {
    color: #343a40;
    background-color: white;
    border-color: #343a40;
}

.btn-custom-dark {
    font-size: 1.25rem;
    font-weight: 500;
    color: #343a40;
    border-color: #343a40;
}

.btn-custom-dark:hover {
    color: white;
    background-color: #ff622b;
    border-color: #ff622b;
} 

.bg-skills {
    background-color: #343a40;
}

.bg-projects {
    background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) ), url("../Images/bg-projects.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
}

.bg-contact {
    background: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .6) ), url("../Images/bg-contact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
}

.skills {
    font-size: 4rem;
    color: white;
}

.text-custom-dark {
    color: rgba(52, 58, 64, 0.8);
}

.text-orange {
    color: #ff622b;
}

.btn-orange {    
    font-weight: 500;
    color: white;
    background-color: #ff622b;
    border-color: #ff622b;
}

.btn-orange:hover {
    color: #ff622b;
    background-color: white;
    border-color: #ff622b;
}

.profile img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
